html{
    box-sizing: border-box; /* il browser calcola la larghezza e l'altezza dei box in base al contenuto che li contiene */
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;  /* Li prende dal genitore html */
    margin: 0;  /* Elimina il margine */
    padding: 0; /* Elimina lo spazio tra il contenuto di un elemento e il suo bordo */
}

body{
    display: flex;
    align-items: center;  /* Centra il contenuto verticale */
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: 'Dosier', sans-serif;
    font-display: swap;
    justify-content: center;
    height: inherit;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen{ 
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    gap: 10px;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: 255, 255, 255, 0.75;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #fff;
    background-color: #d72880;
}


.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: #ffef78;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}
